/* @theme example */

@import 'default';

:root {
  width: 1280px;
  height: 960px;
  font-size: 40px;
  padding: 1rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
  text-align: center;
}

h3.centered {
  text-align: center;
}

section {
  background: #cef;
  color: #135;
  font-size: 20px;
  padding: 40px;
}

code {
  font-size: 8x;
}
